# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [16]:
CREATE TABLE JunkDB_KC.Kristal.planned_makes (
    project_id INT PRIMARY KEY IDENTITY (1,1),
    project_type VARCHAR (50) NOT NULL,
    fabric_type VARCHAR (50) NOT NULL,
    material_yards_needed INT NOT NULL
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes.

In [15]:
INSERT INTO JunkDB_KC.Kristal.planned_makes
VALUES 
      ('dress', 'organza', 6),
      ('skirt', 'knit', 2.5),
      ('jumpsuit', 'leather', 10);

## Update a Row

Change different values in one of your three rows.

In [18]:
UPDATE JunkDB_KC.Kristal.planned_makes
SET project_type = 'maxi skirt'
WHERE project_type = 'skirt';

UPDATE JunkDB_KC.Kristal.planned_makes
SET material_yards_needed = 2
WHERE material_yards_needed = 10;

## Delete a Row

Delete one of the rows from your table.

In [27]:
DELETE FROM JunkDB_KC.Kristal.planned_makes
WHERE project_type = 'jumpsuit';

## Drop the Table

While this has been fun, it is time to drop the table!

In [30]:
DROP TABLE JunkDB_KC.Kristal.planned_makes;

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'JunkDB_KC.Kristal.planned_makes', because it does not exist or you do not have permission.